*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cell {
  width: var(--column-width);
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #fff;
}

.header-cell {
  width: var(--column-width);
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #f2f2f2;
}

.cell-align-start {
  justify-content: flex-start;
}

.cell-align-end {
  justify-content: flex-end;
}

.cell-align-center {
  justify-content: center;
}

.header-td-cell {
  width: var(--column-width);
}

.fixed-column {
  position: sticky;
  right: 0;
  z-index: 999;
}
