*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cell {
  width: var(--column-width);
  display: flex;
  background-color: #ccc;
  align-items: center;
  position: relative;
  padding: 8px;
}

.cell-align-start {
  justify-content: flex-start;
}

.cell-align-end {
  justify-content: flex-end;
}

.cell-align-center {
  justify-content: center;
}

.column-resize-handler {
  position: absolute;
  cursor: col-resize;
  right: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: red;
}
